<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="bar-container">
      <div class="center">
        <div class="logo-container">
          <img src="j-capital-letter-in-a-circle-svgrepo-com.svg" alt="" />
          <h1 class="logo-text">Logo<span class="sec-logo">admin</span></h1>
        </div>
        <div class="profile">
          <img class="prof-img" src="user-profile-svgrepo-com.svg" alt="" />
          <p class="user-name">User Name</p>
        </div>
      </div>
      <nav>
        <p class="main-menu">---MAIN MENU</p>
        <ul class="nav-links">
          <li><a class="link" href="/">Home</a></li>
          <li><a class="link" href="/users">Manage Users</a></li>
          <li><a class="link" href="/users/register">Create User</a></li>
          <li><a class="link" href="/users/register">LogOut</a></li>
        </ul>
      </nav>
    </div>
  </body>
</html>
