<link rel="stylesheet" href="/top-nav.css" />
<div class="top-container">
  <div class="right-top-nav">
    <img
      class="top-nav-logo"
      src="j-capital-letter-in-a-circle-svgrepo-com.svg"
      alt=""
    />
    <div class="burger">
      <div class="line1"></div>
      <div class="line2"></div>
      <div class="line3"></div>
    </div>
  </div>
  <p class="user-top">User Name</p>
</div>
