<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="/style1.css">
    <title>New User</title>
  </head>
  <body>

    <div class="container">
      <div class="header">

        <h1>Create A New User</h1>
      </div>
      <form class="form-signin" action="/users/register" method="POST">
        <div class="ok">
          <label for="name">Name</label>
          <input class="form-control" type="text" id="name" name="name" required />
        </div>
        <div class="ok">
          <label for="email">Email</label>
          <input class="form-control" type="email" id="email" name="email" required />
        </div>
        <div class="ok">
          <label for="password">Password</label>
          <input class="form-control" type="password" id="password" name="password" required />
        </div>
        <button type="submit">Register</button>
      </form>
    </body>
  </div>
</html>
