.bar-container {
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2);
  width: 15em;
  height: 100%;
  min-height: 100vh;
  padding: 1em 0;
  background: white;
}
.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logo-container {
  margin-left: -1em;
  display: flex;
}

.main-container {
  display: flex;
  justify-content: space-between;
}
.rest-content {
  width: 100%;
}
img {
  width: 2em;
  height: 2em;
}
.logo-text {
  font-size: 1.5em;
  margin-left: 0.7em;
  letter-spacing: -0.5px;
}
.sec-logo {
  color: #54667a;
  font-weight: lighter;
  margin-left: -0.05em;
}
.profile {
  margin-top: 1em;
}
.prof-img {
  height: 3em;
  width: 3em;
}
.user-name {
  margin-left: -1em;
}
.main-menu {
  color: #686868;
}
.nav-links {
  list-style: none;
}
.nav-links a {
  color: #686868;
  display: block;
  text-decoration: none;
}

.link {
  margin-left: -2.4em;
  padding: 0.9375em;
}
.link:hover {
  background: whitesmoke;
}

svg {
  width: 20px;
  height: 20px;

  margin-bottom: -5px;
}
.selected-bar {
  content: "";
  position: absolute;
  display: inline-flex;
  height: 3.3em;
  width: 0.25em;
  left: 0;
  margin-top: -14px;
  background-color: orange;
  display: none;
  font-weight: bold;
}
svg {
  fill: #686868;
}
.logout-button {
  border: none;
  background: white;
  cursor: pointer;
  color: #686868;
  width: 119.2%;
  outline: none;
}
.logout-button:focus {
  outline: 0;
}
